.photo-picker {
  align-items: flex-start;
}

.level-left .level-item:first-child {
  margin-right: 5px;
}

.photo-button {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.file-cta {
  background: none;
}
