nav.header {
  box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 6px rgba(0,0,0,.28);
  margin-bottom: 10px;
  padding: 0 1vw;
}

.header .navbar-brand .navbar-item.logo {
  padding: 0;
}

.header .navbar-brand .navbar-item.logo img {
  max-height: 2.5rem;
}

.header-sign-out {
  cursor: pointer;
}