.week-snapshot .box {
  padding: 0;
  height: 100%;
  border-radius: 0;
}
.week-snapshot .box.is-success {
  background-color: rgba(35, 209, 96, 0.25);
}

.week-snapshot .week-snapshot-heading {
  margin-bottom: 0;
}

.week-snapshot .next-right {
  margin-left: 5px;
}